<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Small Business Online</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        
        <link rel="icon" href="~/favicon.ico?v=2" type="image/x-icon">

        @Styles.Render("~/Content/foundation/css")

        @RenderSection("head", required: false)
        @Scripts.Render("~/bundles/modernizr")

        @Styles.Render("~/Content/css")
    </head>
    <body>

        <header>
            @Html.Partial("_MainNavResponsive")
        </header>

        <div class="texture">
            @RenderSection("PageBanner", required: false)
        </div>

        <article id="MainContent">
            @RenderBody()
        </article>
        
        <footer>
            <div class="TagLine">
                <h4>Small Business Online</h4>
            </div>
            <div class="Copyright">
                ©@DateTime.Now.Year Small Business Online
            </div>
        </footer>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")

        <script>
            $(document).foundation();
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
